<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤの情報を取得できます</h1>
    <a href="test/test.html.erb">情報の取得はこちら</a>
  </body>
</html>
